[Desktop Entry]
Name=Settings
Comment=Configure system settings and preferences
Icon=org.gnome.Settings
Exec=env XDG_CURRENT_DESKTOP=GNOME gnome-control-center
DBusActivatable=false
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
Keywords=Preferences;Settings;Control;Center;
